<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Only Second hand dating app</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    @Styles.Render("~/Content/css")
    @Scripts.RenderFormat(@"<script src="" {0}"" ></script>", "~/bundles/jquery")
    @Scripts.RenderFormat(@"<script src="" {0}"" async></script>", "~/bundles/modernizr")
    @Scripts.RenderFormat(@"<script src="" {0}"" async></script>", "~/bundles/SiteJS")
    

    <script language="javascript" type="text/javascript">
        /*alert message when user session time out is closed*/
        $(function () {
            var sessionTimeoutWarning = @Session.Timeout -2;
            var sessionTimeout = @Session.Timeout ;
            var sTimeout = parseInt(sessionTimeoutWarning) * 60 * 1000;
            setTimeout('SessionWarning()', sTimeout);

            function SessionWarning() {
                var message = "Your session will expire in another " +
                    (parseInt(sessionTimeout) - parseInt(sessionTimeoutWarning)) +
                    " mins! Please Save the data before the session expires";
                alert(message);
            }
        });
    </script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top navDesign">
        <a href="#" class="navbar-brand">@Html.ActionLink("Shook Online", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</a>
        <!-- the nav bar -->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-home" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown"> <!--My own catagory id-->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-th" aria-hidden="true"></span> Categories<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-car" aria-hidden="true"></i> Cars</a></li>
                            <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i> Free Stuff</a></li>
                            <li><a href="#"><i class="fa fa-television" aria-hidden="true"></i> Electronics</a></li>
                            <li><a href="#"><i class="fa fa-motorcycle" aria-hidden="true"></i> Other Vehicels</a></li>
                            <li><a href="#"><i class="fa fa-futbol-o" aria-hidden="true"></i> Sports</a></li>
                            <li><a href="#"><i class="fa fa-bath" aria-hidden="true"></i> Home and Garden</a></li>
                            <li><a href="#"><i class="fa fa-book" aria-hidden="true"></i> Books and Music</a></li>
                            <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i>  Fashion and Accessories</a></li>
                            <li><a href="#"><i class="fa fa-child" aria-hidden="true"></i> baby and Child</a></li>
                            <li><a href="#"> </a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">  Other</a></li>
                        </ul>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                        @if (Session["UserName"] != null)
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user" aria-hidden="true"></i> @Session["UserName"].ToString() <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <!-- put all the profile stuff-->
                                    <li>
                                        <div class="col col_4 iamgurdeep-pic">
                                            <img class="img-responsive iconImg" alt="iconImg" src="http://www.professionalclick.com/images/default.jpg"><!--put the user img-->
                                            <div class="username">
                                                <h2>@Session["UserName"].ToString() </h2>
                                                <small><i class="fa fa-map-marker"></i> @Session["Location"].ToString()</small>
                                                <button class="btn-o"><i class="fa fa-user-times" aria-hidden="true"></i> @Html.ActionLink("Log Off", "LogOff", "Home")</button>
                                                <button class="btn-o"><i class="fa fa-cog" aria-hidden="true"></i> @Html.ActionLink("Settings", "Settings", "ManageAccount")</button> <!-- text , action , controller-->
                                            </div>
                                        </div>
                                    </li>
                                 </ul>
                            </li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "TryRegister", "Account")</li>
                    }
                    
                </ul>
            </div>
        </div>
    </nav>
        @RenderBody()
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false) 
</body>
</html>
