<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Only Second hand dating app</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.RenderFormat(@"<script src="" {0}"" ></script>", "~/bundles/jquery")
    @Scripts.RenderFormat(@"<script src="" {0}"" async></script>", "~/bundles/modernizr")
    @Scripts.RenderFormat(@"<script src="" {0}"" async></script>", "~/bundles/SiteJS")
    
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top navDesign">
        <a href="#" class="navbar-brand">@Html.ActionLink("Shook Online", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</a>
        <!-- the nav bar -->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-home" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-navbar-home">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-th" aria-hidden="true"></span> Categories<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-car" aria-hidden="true"></i> Cars</a></li>
                            <li><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i> Free Stuff</a></li>
                            <li><a href="#"><i class="fa fa-television" aria-hidden="true"></i> Electronics</a></li>
                            <li><a href="#"><i class="fa fa-motorcycle" aria-hidden="true"></i> Other Vehicels</a></li>
                            <li><a href="#"><i class="fa fa-futbol-o" aria-hidden="true"></i> Sports</a></li>
                            <li><a href="#"><i class="fa fa-bath" aria-hidden="true"></i> Home and Garden</a></li>
                            <li><a href="#"><i class="fa fa-book" aria-hidden="true"></i> Books and Music</a></li>
                            <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i>  Fashion and Accessories</a></li>
                            <li><a href="#"><i class="fa fa-child" aria-hidden="true"></i> baby and Child</a></li>
                            <li><a href="#"> </a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">  Other</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("About", "About", "Home")</li> <!-- txt ,action name , controler name-->
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Login", "TryRegister", "Account")</li>
                </ul>
            </div>
        </div>
    </nav>
        @RenderBody()

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
