<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.RenderFormat(@"<script src="" {0}"" async></script>", "~/bundles/jquery")
    @Scripts.RenderFormat(@"<script src="" {0}"" async></script>", "~/bundles/modernizr")
    @Scripts.RenderFormat(@"<script src="" {0}"" async></script>", "~/bundles/SiteJS")
</head>
<body>
        @RenderBody()

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
